<header class="site-header" role="banner">

  <!-- AQUI VAI A LOGO -->
  <div class="wrapperheader">
    <a class="site-title" rel="author" href="{{ site.url | relative_url }}">
      <img src="img/teste.png" class="media-object  img-responsive img-thumbnail">
    </a>
  </div>

  <!-- AQUI VAI OS LINKS-->
  <div class="wrapperheader">
      <div class="show-header-subscribe-buttons">
        <a class="show-header-subscribe-buttons-item show-header-subscribe-buttons-item--apple" title="Subscribe on Apple" href="https://podcasts.apple.com/us/podcast/the-changelog/id341623264">Apple</a>
        <a class="show-header-subscribe-buttons-item show-header-subscribe-buttons-item--overcast" href="https://overcast.fm/itunes341623264/the-changelog" title="Subscribe on Overcast">Overcast</a>  
        <a class="show-header-subscribe-buttons-item show-header-subscribe-buttons-item--android" href="https://www.subscribeonandroid.com/changelog.com/podcast/feed" title="Subscribe on Android">Android</a>    <a class="show-header-subscribe-buttons-item show-header-subscribe-buttons-item--rss" data-turbolinks="false" href="/podcast/feed" title="Subscribe via RSS">RSS</a>
        <a class="show-header-subscribe-buttons-item show-header-subscribe-buttons-item--email" href="/subscribe/podcast" title="Subscribe via Email">Email</a>  
      </div>
  </div>

</header>
